body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.navbar-inverse {
    background-color: black;
    border-color: #d41d50;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #d41d50;
    }

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav {
        color: #d41d50;
    }



.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li > .date {
            text-align: center;
            background-color: #d41d50;
            color: white;
            width: 60px;
            border-radius: 8px;
        }

        .course > li > .details {
            position: absolute;
            top: 0px;
            left: 70px;
            display: grid;
        }


        .course > li .action {
            display: none;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action {
            display: block;
        }
